html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "sidebar formulario";
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "contacto";

}

.opcionesContacto {
    grid-area: contacto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
        "otros otros"
        "contactoInsta contactoFace"
        "contactoWhats contactoTel";
    margin: 10%;



}

.opcionesContacto #contacto span {
    display: block;
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0;
}


.OtrosContactos {
    display: grid;
    grid-area: otros;
    text-align: center;
    font-size: 45px;

}

.contactoInsta {
    grid-area: contactoInsta;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "imagenInsta"
        "textoInsta";

}

.contactoInsta img {
    grid-area: imagenInsta;
    height: 250px;
    width: 250px;
    margin-left: 20%;
    padding-top: 2%;
    transition: all 0.3s ease;

}

.contactoInsta img:hover {
    height: 280px;
    width: 280px;
}

.contactoInsta span {
    grid-area: textoInsta;
}

.contactoFace {
    grid-area: contactoFace;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "imagenFace"
        "textoFace";
}

.contactoFace img {
    grid-area: imagenFace;
    height: 250px;
    width: 250px;
    margin-left: 20%;
        padding-top: 2%;
    transition: all 0.3s ease;
}

.contactoFace span {
    grid-area: textoFace;
}

.contactoFace img:hover {
    height: 280px;
    width: 280px;
}

.contactoWhats {
    grid-area: contactoWhats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "imagenWhats"
        "textoWhats";
}

.contactoWhats img {
    grid-area: imagenWhats;
    display: grid;
    height: 250px;
    width: 250px;
    margin-left: 20%;
        padding-top: 2%;
    transition: all 0.3s ease;
}

.contactoWhats img:hover {
    height: 280px;
    width: 280px;
}

.contactoWhats span {
    grid-area: textoWhats;
}

.contactoTel {
    grid-area: contactoTel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "imagenTel"
        "textoTel";

}

.contactoTel img {
    grid-area: imagenTel;
    display: grid;
    height: 250px;
    width: 250px;
    margin-left: 20%;
        padding-top: 2%;
    transition: all 0.3s ease;
}

.contactoTel img:hover {
    height: 280px;
    width: 280px;
}


.contactoTel span {
    grid-area: textoTel;
}

.formulario {
    grid-area: formulario;
    background-color: #c5d9f8;
    border-left: 5px solid rgba(0, 0, 0, 0.555);
    padding-left: 20%;
}

.formulario h2 {
    font-size: 40px;
}

.formulario span {
    font-size: 18px;
    font-weight: bold;
}

.contenedorTitulo,
.contenedorNombre,
.contenedorCorreo,
.contenedorMensaje,
.contenedorEnviar {
    margin-top: 2%;
}

.formulario input {
    width: 91%;
    height: 40px;
    font-size: 150%;
    padding-left: 3%;
    border-radius: 18px;
    border: 3px solid #2196f3;
}

.contenedorMensaje {
    width: 90%;
}

.mensaje {
    padding-left: 3%;
    border-radius: 18px;
    border: 3px solid #2196f3;
}


.formulario button {
    width: 90%;
    background-color: #2195f375;
    color: white;
    border: none;
    margin-top: 22px;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #1976d2;
    box-shadow: 5px 5px 10px #0989f1;
}