body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2196f3;
}

header {
  margin: 0;
  padding: 0;
  height: 700px;
  overflow: hidden;
}

header img {
  float: left;
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.contenedor {
  float: left;
  width: 100%;
  margin-top: -200px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  color: white;
  text-align: center;
}
.datos {
  float: left;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 20px;
}

.textRegistrarse {
  font-size: 25px;
  color: #1976d2;
}

.contenedorInicio {
  padding-left: 25%;
  padding-right: 25%;
}

.contenedorEmail {
  overflow: hidden;
  border: 2px solid lightgrey;
  border-radius: 25px;
  padding: 2px;
  margin-bottom: 15px;
}
.inputMail::placeholder {
  color: #2196f3;
}

.inputMail {
  width: 85%;
  float: left;
  padding: 8px;
  font-size: 14px;
  border: none;
  outline: none;
}
.inputMail::placeholder {
  color: #2196f3;
}
.iconoEmail {
  float: left;
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 12px;
}
.contenedorContrasenya {
  overflow: hidden;
  border: 2px solid lightgrey;
  border-radius: 25px;
  padding: 2px;
  margin-bottom: 12px;
}
.inputContra {
  width: 85%;
  float: left;
  padding: 8px;
  font-size: 14px;
  border: none;
  outline: none;
}

.inputContra::placeholder {
  color: #2196f3;
}

.iconoContrasnya {
  padding-left: 12px;
  width: 16px;
  height: 16px;
  float: left;
  margin: 8px 8px 0 0;
}

.btnEntrar {
  width: 75%;
  background-color: #2196f3;
  color: white;
  border: none;
  margin-top: 22px;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
}

.btnEntrar:hover {
  background-color: #1976d2;
}

.lineaSeparacion {
  margin-top: 3%;
  text-decoration: none;
  color: grey;
}
.lineaPrincipio {
  margin-left: 24%;
  width: 25%;
  float: left;
  border-top: 1px solid #ccc;
}
.lineaFinal {
  margin-right: 24%;
  width: 25%;
  float: right;
  border-top: 1px solid #ccc;
}

.btnInicios {
  margin-top: 2%;
  padding-left: 25%;
  padding-right: 25%;
}

.contenedorGoogle {
  overflow: hidden;
  border: 2px solid lightgrey;
  border-radius: 25px;
  padding: 4px 0 4px 0;
  padding-left: 30%;
  margin-bottom: 3%;
}
.btnGoogle {
  float: left;
  width: 40%;
  padding: 7px 0 7px 0;
  font-size: 14px;
  border: none;
  background-color: white;
  color: #2196f3;
}
.iconoGoogle {
  padding-left: 12px;
  width: 16px;
  height: 16px;
  float: left;
  margin: 8px 8px 0 0;
}

.contenedorApple {
  overflow: hidden;
  border: 2px solid lightgrey;
  border-radius: 25px;
  padding: 4px 0 4px 0;
  padding-left: 30%;
}
.btnApple {
  float: left;
  width: 40%;
  padding: 7px 0 7px 0;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: #2196f3;
}

.btnCrearCuenta {
  float: left;
  width: 60%;
  padding: 7px 0 7px 0;
  font-size: 14px;
  border: none;
  background-color: white;
  font-size: 14px;
  color: #2196f3;
}

.contenedorOlvidarContra {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.contenedorOlvidarContra strong {
  color: #2196f3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.contenedorOlvidarContra strong:hover {
  text-decoration: underline;
}

.logo {
  float: left;
  width: 100%;
  padding-top: 10px;
  clear: both;
}
.logo img {
  width: 200px;
  height: 100px;
}
.logo p {
  font-size: 14px;
  color: #666;
}
.logo a {
  color: #2196f3;
  font-weight: bold;
  text-decoration: none;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}
