$oculto: hidden;
$centrar: center;
$posicionRelativa: relative;
$posicionAbsoluta:absolute;
$linear: linear;
$ambos: both;
$puntero: pointer;
$texto-Oscuro: bold;
$tamanyo-caja: border-box;
$border-style: solid;
$without-border: none;
$izquierda:left;
$derecha:right;
$cubrir: cover;
$alineacionVertical: middle;
$alineacionVertical-Top:top;
$bloqueEnLinea: inline-block;
$automatico: auto;
$noRomperPalabra:break-word;
$infinito:infinite;