@use "tarjetas" as *;
@use "dimensiones" as *;
@use "caracteristicas" as *;
@use "colores" as *;
@use "imagenes" as *;
@use "keyframes" as *;

.container {
  background-color: $color-background-page-claro;
  border-top-left-radius: $border-radius-grande;
  border-top-right-radius: $border-radius-grande;
  padding: $margenOPaddingDe20;
  overflow: $oculto;
  width: $widthmaximo;
  text-align: $centrar;
  margin-top: -2%;

  .courses {
    float: $izquierda;
    width: $widthmaximo;
    padding: $margenOPaddingDe20;
    overflow: $oculto;
    text-align: $centrar;
  }

  .proximamente {
    float: $derecha;
    width: 30%;
    height: 15%;
    margin-right: $searchBar-width;
    border-radius: $border-radius;
    background-color: $color-background-trasera;
    text-align: $centrar;
    color: $color-blanco;
    font-size: $margenOPaddingDe26;
    font-weight: $texto-Oscuro;
    overflow: $oculto;

    p {
      animation: pulse 1.6s $infinito;
    }
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
  }

  .carousel-track::-webkit-scrollbar {
    display: none;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.7;
    margin-right: 5%;
    margin-left: 5%;
  }

  .carousel-btn.left {
    left: 0;
  }

  .carousel-btn.right {
    right: 0;
  }
}

@media (max-width: 480px) {
  .container {
    .proximamente {
      float: left;
      vertical-align: center;
      width: 90%;
    }
    .carousel-btn {
      margin-right: 10%;
      margin-left: 5%;
    }
  }
}
