@use "tarjetas" as *;
@use "dimensiones" as *;
@use "caracteristicas" as *;
@use "colores" as *;
@use "imagenes" as *;
@use "keyframes" as *;

.container {
  
  background-color: $color-background-page-claro;
  border-top-left-radius: $border-radius-grande;
  border-top-right-radius: $border-radius-grande;
  padding: $margenOPaddingDe20;
  overflow: $oculto;
  width: $widthmaximo;
  text-align: $centrar;
  margin-top: -2%;
  .courses {
    float: $izquierda;
    width: $widthmaximo;
    padding: $margenOPaddingDe20;
    overflow: $oculto;
    text-align: $centrar;
        height: 100%;
  }

  .proximamente {
    float: $derecha;
    width: 30%;
    height: 15%;
    margin-right: $searchBar-width;
    border-radius: $border-radius;
    background-color: $color-background-trasera;
    text-align: $centrar;
    color: $color-blanco;
    font-size: $margenOPaddingDe26;
    font-weight: $texto-Oscuro;
    overflow: $oculto;

    p {
      animation: pulse 1.6s $infinito;
    }
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;


    h2 {
      display: block;
      text-align: left;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    .carousel-btn {
      position: absolute;
      top: 10px; // arriba
      background: #000;
      color: #fff;
      border: none;
      font-size: 1.5rem;
      padding: 5px 10px;
      cursor: pointer;
      z-index: 10;
      opacity: 0.8;
    }

    // ambos botones arriba a la derecha
    .carousel-btn.right {
      top: 5%;
      right: 5%;
    }

    .carousel-btn.left {
      top: 5%;
      right: 10%; // separación del botón derecho
    }
    .carousel-btn:focus,
    .carousel-btn:focus-visible {
      outline: 3px solid #007bff;
      outline-offset: 4px;
    }
    .carousel-btn:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0 3px #007bff55; /* borde azul sutil en hover */
    }
  }

  .carousel-track {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    //padding: 20px 0;
    margin-left: 20px;


    .course-completo {
      flex: 0 0 calc((100% / 6) - (20px * 5 / 6)); // 6 cards visibles, descontando gap
      max-width: calc((100% / 6) - (20px * 5 / 6));
    }
  }

  .carousel-track::-webkit-scrollbar {
    display: none;
  }
}
