@use "tarjetas" as *;
@use "dimensiones" as *;
@use "caracteristicas" as *;
@use "colores" as *;
@use "imagenes" as *;
@use "keyframes" as *;

.container {
  background-color: $color-background-page-claro;
  border-top-left-radius: $border-radius-grande;
  border-top-right-radius: $border-radius-grande;
  padding: $margenOPaddingDe20;
  overflow: $oculto;
  width: $widthmaximo;
  text-align: $centrar;
  margin-top: -2%;
  .courses {
    float: $izquierda;
    width: $widthmaximo;
    padding: $margenOPaddingDe20;
    overflow: $oculto;
    text-align: $centrar;
  }

  .proximamente {
    float: $derecha;
    width: 30%;
    height: 15%;
    margin-right: $searchBar-width;
    border-radius: $border-radius;
    background-color: $color-background-trasera;
    text-align: $centrar;
    color: $color-blanco;
    font-size: $margenOPaddingDe26;
    font-weight: $texto-Oscuro;
    overflow: $oculto;

    p {
      animation: pulse 1.6s $infinito;
    }
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;

    h2 {
      display: block;
      text-align: left;
      margin-bottom: 10px;
    }

    .carousel-btn {
      position: absolute;
      top: 10px; // arriba
      background: #000;
      color: #fff;
      border: none;
      font-size: 1.5rem;
      padding: 5px 10px;
      cursor: pointer;
      z-index: 10;
      opacity: 0.8;
    }

    // ambos botones arriba a la derecha
    .carousel-btn.right {
      top: 5%;
      right: 5%;
    }

    .carousel-btn.left {
      top: 5%;
      right: 10%; // separación del botón derecho
    }
  }

  .carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
  }

  .carousel-track::-webkit-scrollbar {
    display: none;
  }
}

/*@media (max-width: 768px) {
  .container {
    padding: 15px;

    .courses {
      float: none;
      width: 100%;
      padding: 10px;
    }

    .proximamente {
      float: none;
      width: 80%;
      margin: 20px auto;
      font-size: 22px;
    }

    .carousel-track {
      gap: 15px;
    }

    
  }
}*/

@media (max-width: 768px) {
  .container {
    vertical-align: center;
    .proximamente {
      float: left;
      width: 92%;
      margin-right: 5%;
    }
    .carousel-wrapper {
      width: 100%;
      margin: 0 auto;
    }

    .carousel-track {
      padding-left: 10px;
    }

    .carousel-track .course-categoria {
      width: 350px;
      .course-categoria {
        img {
          width: 350px;
        }
      }
    }
    .carousel-wrapper {
      .carousel-btn {
        font-size: 1.3rem;
        padding: 5px 8px;
        margin-right: 5%;
      }

      .carousel-btn.right {
        right: 5%;
      }

      .carousel-btn.left {
        right: 12%;
      }
    }
  }
  .course-completo {
    min-width: 200px;
  }
}

@media (max-width: 480px) {
  .container {
    .proximamente {
      float: left;
      vertical-align: center;
      width: 90%;
    }
  }
}
