@use "colores" as *;

//Configuraci칩n letras
$letraTamanyo: 14px;
$letraTamanyo-10: 10px;

$letraTamanyoPeque침o: 6px;
$border-radius: 8px;
$border-radius-grande: 18px;
$border-width: 1px;
$widthmaximo: 100%;
$heightmaximo: 100%;
$tamanyoPredefinido: 1000px;

//Dimensiones botones
$btn-padding-topybottom: 5px;
$btn-padding-rightyleft: 10px;
$btn-width20: 20%;

$btn-pequenyo-width-tamanyo: 50px;
$btn-pequenyo-height-tamanyo: 20px;

//DIMENSIONES TARJETAS
$card-width: 350px;
$card-height: 370px;
$flip-duration: 0.8s;
$map-height: 35%;
$map-width: 95%;
$tamanyoCurso: 300px;
$tamanyoHeightCurso: 335px;

$tamanyoWidthCursoMovilCategoria: 350px;
$tamanyoHeightCursoMovilCategoria: 150px;

$tamanyoWidthCursoMovil: 50px;
$tamanyoHeightCursoMovil: 150px;

$tamanyoCategorias: 30px;
$tamanyoHeightCategorias: 335px;

$card-tablet-width: 350px;
$card-tablet-height: 280px;

$card-movil-width: 110px;
$card-movil-height: 124px;

$map-radius: 16px;
$price-border-thickness: 10px;

//Dimensiones imagenes

$vid-heightCompleto: 100%;
$vid-widthCompleto: 100%;

$vid-widthMedio: 45%;
$vid-heightMedio: 45%;

$vid-widthPeque침o: 45%;
$vid-heightPeque침o: 35%;

$img-width: 100%;
$img-height: 180px;

$img-pequenya-width: 100%;
$img-pequenya-height: 50%;

$img-pequenya-width-logo: 150px;
$img-pequenya-height-logo: 75px;

$icon-mid-width: 35px;
$icon-mid-height: 35px;

$icon-pequenyo-width: 12px;
$icon-pequenyo-height: 12px;

$margenOPaddingDe5: 5px;
$margenOPaddingDe8: 8px;
$margenOPaddingDe10: 10px;
$margenOPaddingDe12: 12px;
$margenOPaddingDe20: 20px;
$margenOPaddingDe15: 15px;
$margenOPaddingDe26: 26px;
$margenOPaddingDe40: 40px;
$margenOPaddingDe3Porciento: 3%;

$minHeightPantalla: 20vh;

$sinDimensiones: 0;
$conDimensionesMuyBajas: 2px;
$conDimensionesBajas: 6px;
$searchBar-width: 35%;
$tamanyoCasiMaxima: 80%;
