@use "mixins" as *;
@use "colores" as *;
@use "dimensiones" as *;
@use "caracteristicas" as *;
@use "botones" as *;
.hero {
  position: $posicionRelativa;
  padding: $margenOPaddingDe40 $margenOPaddingDe20;
  text-align: $centrar;
  min-height: $minHeightPantalla;
  background-color: $color-background-hero ;
  overflow: $oculto;

  @include efectos("hero");

  .hero-video{
    top: 0.5px;
    left: $sinDimensiones;
    width: $vid-widthMedio;
    height: $vid-heightCompleto;
    object-fit: $cubrir;
    border-radius: $border-radius-grande;
    float: $derecha;
  }
  .hero-content{
    position: $posicionRelativa;
    color:$color-negro;
    padding-top: $margenOPaddingDe3Porciento;
    p{
        font-size: 18px;
        color: $color-pHeroContent;
    }

    h2{
        font-size: $icon-mid-height;
        font-weight: $texto-Oscuro;
        color: $color-blanco;
        text-shadow:$sinDimensiones $conDimensionesMuyBajas $conDimensionesBajas $color-h2Hero ;
    }

  }

  .search-container{
    text-align: $centrar;
    .search-bar{
        background-color: $color-background-page-claro;
        padding: $margenOPaddingDe5;
        border-radius: $border-radius-grande;
        width:$searchBar-width;
        margin: $sinDimensiones $automatico;
        overflow: $oculto;
        input{
            float: $izquierda;
            border: $without-border;
            outline: $without-border;
            padding: $margenOPaddingDe8 $margenOPaddingDe12;
            width:$tamanyoCasiMaxima ;
            border-radius: $border-radius-grande $sinDimensiones $sinDimensiones $border-radius-grande;
            font-size: $letraTamanyo;
            box-sizing: $tamanyo-caja;
        }
        button{
            padding: 8px;
        }

    }
  }
}
