@use "dimensiones" as *;
@use "caracteristicas" as *;
@use "colores" as *;
@use "mixins" as *;
@use "imagenes" as *;
@use "animaciones" as *;
@use "mapas" as *;
@use "botones" as *;

.course-completo {
  width: $tamanyoCurso;
  height: $tamanyoHeightCurso;
  perspective: $tamanyoPredefinido;
  display: $bloqueEnLinea;
  margin: $sinDimensiones;
  margin: $margenOPaddingDe15;
  position: $posicionRelativa;
  vertical-align: $alineacionVertical-Top;

  .course,
  .course-trasera {
    width: $widthmaximo;
    height: $heightmaximo;
    border-radius: $border-radius-grande;
    backface-visibility: $oculto;
    transition: transform 0.8s;
    position: $posicionAbsoluta;
    top: $sinDimensiones;
    left: $sinDimensiones;
    box-sizing: $tamanyo-caja;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $color-background-page-claro;
    overflow: $oculto;

    h3,
    h4 {
      margin: $margenOPaddingDe10 $sinDimensiones;
    }
  }

  .course {
    z-index: 2;
    transform: $rotacionY0;
    p {
      font-size: $letraTamanyo;
      line-height: 1.4;
      color: $color-grisLetras;
      margin-bottom: $margenOPaddingDe10;
      overflow-wrap: $noRomperPalabra;
    }
  }

  .course-trasera {
    z-index: 1;
    transform: $rotaconY180;
    color: $color-blanco;
    text-align: $izquierda;

    p {
      font-size: $letraTamanyo;
      line-height: 1.4;
      margin-bottom: $margenOPaddingDe10;
      overflow-wrap: $noRomperPalabra;
    }
  }

  @each $categoria, $color in $categories {
    &.category-#{$categoria} {
      .course-trasera {
        background-color: $color;
      }
    }
  }

  &:hover {
    .course {
      transform: $rotaconY180;
    }
    .course-trasera {
      transform: $rotacionY0;
    }
  }

  .course-footer {
    padding-top: $margenOPaddingDe10;
    overflow: $oculto;

    .price {
      float: $izquierda;
      margin-left: $margenOPaddingDe5;
      font-weight: $texto-Oscuro;
      color: $color-grisLetras;
      font-size: $text-color;
    }
    .icon-star {
      width: $icon-pequenyo-width;
      height: $icon-pequenyo-height;
    }
  }
}

/* Tablet */
@media (max-width: 768px) {
  .course-completo {
    width: $card-tablet-width;
    height: $card-tablet-height;
  }
}

/* Móvil */
@media (max-width: 480px) {
  .course-completo {
    width: $card-movil-width;
    height: $card-movil-height;

    .course,
    .course-trasera {
      width: $widthmaximo;
      height: $heightmaximo;
      h3,
      h4 {
        margin: $sinDimensiones;
        font-size: $letraTamanyoPequeño;
      }
    }

    .course {
      p {
        font-size: $letraTamanyoPequeño;
        color: $color-grisLetras;
        margin-bottom: $margenOPaddingDe5;
        overflow-wrap: $noRomperPalabra;
      }
      img {
        width: $widthmaximo;
        height: $img-pequenya-height;
      }
    }

    .course-trasera {
      padding-top: $margenOPaddingDe12;
      padding-left: $margenOPaddingDe12;
      p {
        font-size: $letraTamanyoPequeño;

        margin-bottom: $margenOPaddingDe10;
        overflow-wrap: $noRomperPalabra;
      }
      .mapa-container {
        display: none !important;
      }
      button {
        display: block !important;
        width: $btn-pequenyo-width-tamanyo;
        height: $btn-pequenyo-height-tamanyo;
        font-size: $letraTamanyoPequeño;
        margin-top: $sinDimensiones;
        margin-right:$margenOPaddingDe12;
      }
    }
  }
}
